<div style="text-align:center">
<div class="p-3 mb-2 bg-info text-white">
  <h1>
    Disciplinas
  </h1>
</div>
  <br><br>
</div>
<ul>
  <li *ngFor="let item of items">
    <h3>
      {{ item.title }}
      <button type="button" class="btn btn-primary" (click)="disciplinaClicked(item)">SELECIONAR</button>
    </h3>
  </li>
</ul>

<br><br>
<h5>Adicionar nova Disciplina a {{ selectedCurso.title }}</h5>

<div class="form-group mx-sm-3 mb-2">
  <label><h6>Nome:</h6></label>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "selectedDisciplina.title" disabled/><br>
  <label><h6>Tipo:</h6></label>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "selectedDisciplina.tipo" disabled/><br>
  <label><h6>Créditos:</h6></label>
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="number" [(ngModel)] = "selectedDisciplina.creditos" disabled/><br>
  <button type="button" class="btn btn-primary" (click)="add(selectedCurso, 
    selectedDisciplina)">Adicionar</button>
</div>