<div style="text-align:center">
  <div class="p-3 mb-2 bg-info text-white">
    <h1>
      Objetivos
    </h1>
  </div>
    <br><br>
  </div>
  <ul>
    <li *ngFor="let item of items">
      <h3>
        {{ item.title }}
        <button type="button" class="btn btn-primary" (click)="objetivoClicked(item)">SELECIONAR</button>
      </h3>
    </li>
  </ul>
  
  <br><br>
  <h5>Adicionar novo Objetivo à disciplina de {{ selectedDisciplina.title }} de {{ selectedCurso.title }}</h5>
  
  <div class="form-group mx-sm-3 mb-2">
    <label><h6>Nome:</h6></label>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "selectedObjetivo.title" disabled/><br>
    <label><h6>Descrição:</h6></label>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "selectedObjetivo.description" disabled/><br>
    <button type="button" class="btn btn-primary" (click)="add(selectedCursoDisciplina, 
    selectedObjetivo)">Adicionar</button>
  </div>