<div style="text-align:center">
  <h1>
    Objetivos
  </h1>
</div>
<ul>
  <li *ngFor="let item of items">
    <h2>
      {{ item.title }}
      <button (click)="delete(item.id)">DELETE</button>
      <button (click)="objetivoClicked(item)">DISPLAY</button>
    </h2>
  </li>
</ul>

<hr>
<br><br>

<h3>Mostrar ou Editar Objetivo</h3>
Title <input type="text" [(ngModel)] = "selectedObjetivo.title"/><br>
Description <input type="text" [(ngModel)] = "selectedObjetivo.description"/><br>
<button (click)="update(selectedObjetivo.id, selectedObjetivo.title,
  selectedObjetivo.description)">UPDATE</button>
<br><br>

<h3>Adicionar Novo Objetivo</h3>
<input #itemTitle type='text' placeholder='Title'>
<input #itemDescription type='text' placeholder='Description'>
<button (click)="add(itemTitle.value, itemDescription.value)">Add</button>
{{ error?.message }}