<div style="text-align:center">
  <h1>
    Turmas de {{ selectedDisciplina.title }} para {{ selectedCurso.title }}
  </h1>
</div>
<ul>
  <li *ngFor="let item of items">
    <h2>
      {{ item.codigo }}
      <button type="button" class="btn btn-primary" (click)="delete(item.id)">DELETE</button>
      <button type="button" class="btn btn-primary" (click)="turmaClicked(item)">DISPLAY</button>
      <button type="button" class="btn btn-primary" (click)="goToAulas(item)">AULA</button>
      <button type="button" class="btn btn-primary" (click)="goToPlanoAulas(item)">PLANO DE AULAS</button>
    </h2>
  </li>
</ul>

<hr>
<br><br>

<h3>Mostrar ou Editar Turma</h3>
Código <input type="text" [(ngModel)] = "selectedTurma.codigo"/><br>
Semestre <input type="text" [(ngModel)] = "selectedTurma.semestre"/><br>
Recursos <input type="text" [(ngModel)] = "selectedTurma.recursos"/><br>
<button type="button" class="btn btn-primary" (click)="update(selectedTurma.id, selectedTurma.codigo, selectedTurma.semestre, selectedTurma.recursos)">UPDATE</button>
<br><br>

<h3>Adicionar Nova Turma</h3>
<input #itemCodigo type='text' placeholder='Codigo'><br>
<input #itemSemestre type='text' placeholder='Semestre'><br>
<input #itemRecursos type='text' placeholder='Recursos'><br>
<button type="button" class="btn btn-primary" (click)="add(itemCodigo.value, itemSemestre.value, itemRecursos.value)">Add</button><br>
{{ error?.message }}