<div style="text-align:center">
<div class="p-3 mb-2 bg-info text-white">
  <h1>
    Cursos
  </h1>
</div>
  <br><br>
</div>
<ul>
  <li *ngFor="let item of items">
    <h2>
      {{ item.title }}
      <button (click)="delete(item.id)">DELETE</button> 
      <button (click)="cursoClicked(item)">DISPLAY</button>
      <button (click)="goToObjetivos(item)">OBJETIVO</button>
      <button (click)="goToCompetencias(item)">COMPETÊNCIA</button>
      <button (click)="goToHabilidades(item)">HABILIDADE</button>
    </h2>
  </li>
</ul>

<h3>Mostrar ou Editar Curso</h3>
Title <input type="text" [(ngModel)] = "selectedCurso.title"/><br>
Description <input type="text" [(ngModel)] = "selectedCurso.description"/><br>
<button (click)="update(selectedCurso.id, selectedCurso.title,
  selectedCurso.description)">UPDATE</button>
<br><br>

<h3>Adicionar Novo Curso</h3>
<input #itemTitle type='text' placeholder='Title'><br>
<input #itemDescription type='text' placeholder='Description'><br>
<button (click)="add(itemTitle.value, itemDescription.value)">Add</button><br>
{{ error?.message }}