<div style="text-align:center">
<div class="p-3 mb-2 bg-info text-white">
  <h1>
    Cursos
  </h1>
</div>
  <br><br>
</div>
<ul>
  <li *ngFor="let item of items">
    <h3>
      {{ item.title }}
      <button type="button" class="btn btn-primary" (click)="delete(item.id)">DELETE</button> 
      <button type="button" class="btn btn-primary" (click)="cursoClicked(item)">DISPLAY</button>
      <button type="button" class="btn btn-primary" (click)="goToObjetivos(item)">OBJETIVO</button>
      <button type="button" class="btn btn-primary" (click)="goToCompetencias(item)">COMPETÊNCIA</button>
      <button type="button" class="btn btn-primary" (click)="goToHabilidades(item)">HABILIDADES</button>
      <button type="button" class="btn btn-primary" (click)="goToAddDisciplinas(item)">ADICIONAR DISCIPLINAS</button>
      <button type="button" class="btn btn-primary" (click)="goToDisciplinas(item)">DISCIPLINAS</button>
    </h3>
  </li>
</ul>

<div class="d-inline-flex p-2 bd-highlight"><h3>Adicionando Novo Curso </h3></div>
<br>
<br>
<br>

<h5>Adicionar Novo Curso:</h5>

    <div class="form-group mx-sm-3 mb-2">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label><h6>Nome:</h6></label>
        &nbsp;&nbsp;&nbsp;&nbsp;<input #itemTitle type='text' placeholder='Nome:'><br>
        <label><h6>Descrição:</h6></label>
        &nbsp;&nbsp;&nbsp;&nbsp;<input #itemDescription type='text' placeholder='Descrição:'><br>
        <label><h6>Coordenador:</h6></label>
        <select [(ngModel)]="selectedCoordenador" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let c of coordenadores" [ngValue]="c.id">{{c.usuario}}</option>
        </select>
      <button type="button" class="btn btn-primary"(click)="add(itemTitle.value, itemDescription.value)">Adicionar</button><br>
    </div>


<br><br>
<h5>Mostrar ou Editar Curso:</h5>

    <div class="form-group mx-sm-3 mb-2">
      <label><h6>Nome:</h6></label>
      &nbsp;&nbsp;&nbsp;&nbsp;<input  type="text" [(ngModel)] = "selectedCurso.title"/><br>
      <label>
        <h6>Descrição:</h6>
        </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "selectedCurso.description"/><br>
      <label><h6>Coordenador:</h6></label>
      <select [(ngModel)]="selectedCoordenador" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let c of coordenadores" [ngValue]="c.id">{{c.usuario}}</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="update(selectedCurso.id, selectedCurso.title,
      selectedCurso.description, selectedCoordenador)">Update</button>
    </div>

{{ error?.message }}